target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

### Gradle ###
build/
.gradle/

### Java ###
*.class

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Spring Boot ###
*.log
spring-boot-admin.log

### MacOs ###
.DS_Store

####React###

# Зависимости
/node_modules

# Папки сборки
/build
/dist
/out

# Файлы среды и конфигурации
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Кеш
.cache

# Папка с отчетами о покрытии кода
/coverage

# Мусорные файлы Mac
.DS_Store

# Логи ошибок
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Настройки редакторов
.idea
.vscode
*.swp
*.swo
